.tableHeader {
  padding: 10px;
  width: 100%;
}
.th {
  max-width: 30px;
  width: 15%;
}
.tableData {
  text-align: center;
}
img {
  position: static;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  max-width: 75%;
}
h1 {
  background-color: purple;
  color: white;
  text-align: center;
  border-style: double;
  padding: 20px;
}
body {
  border-style: groove;
}
#inputIn {
  border-style: double;
  padding: 20px;
  padding-bottom: 40px;
  background-color: azure;
}
#output {
  border-style: double;
  background-color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.employeeHeader {
  text-indent: 40px;
}
#monthlyTotal {
  text-align: right;
  padding-right: 50px;
}
.totalMonthlyOutput {
  border-style: double;
}
